* {
    background: var(--bs-body-bg);
    color: var(--bs-body-color);
}

section {
    font-family: Arial, sans-serif;
    background-color: rgba(var(--bs-body-color-rgb), 0.2);
    color: rgba(var(--bs-body-color-rgba), $alpha: 0.8);
    line-height: 1.6;

}

.title {
    color: rgba(var(--bs-primary-rgb), 0.8);
    backdrop-filter: blur(10px);
}

.content {
    max-width: 850px;
    box-shadow: 0 0 10px rgba(var(--bs-body-color-rgb), 0.1);
    background: var(--bs-body-bg);
    color: var(--bs-body-color);

    p {
        margin-bottom: 1rem;
    }

    p::first-letter {
        margin-left: 5rem;
    }

    p:first-of-type {
        margin-top: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}



p {
    font-size: 16px;
    line-height: 1.5;
}

.mouse-tracker {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* Prevent scrollbars */
}

.red-dot {
    position: fixed;
    top: -30px;
    left: -30px;
    pointer-events: none;
    z-index: 9999;
    background: transparent;
    mix-blend-mode: difference;
    border-radius: 50%;
    transition: all ease 0.15s;


    &::before {
        content: "";
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: inline-block;
        background: white;
        transition: all ease 0.15s;
        // transform: scale(0.15);
    }
}